{% extends 'myadmin/layout.html' %}
{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="col-sm-12 col-xl-6">
        <div class="bg-light rounded h-100 p-4">
            <h6 class="mb-4">Add New City</h6>
            <form method="post" action="/myadmin/city_store">
                {% csrf_token %}
                <div class="row mb-3">
                    <label for="state" class="col-sm-3 col-form-label">State</label>
                    <div class="col-sm-12">
                        <select class="form-select mb-3" aria-label="Default select example" id="state" name="state">
                            <option selected>Select State</option>
                            {% for u in result1 %}
                                <option value="{{u.id}}">{{u.state_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="city_name" class="col-sm-3 col-form-label">City Name</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="city_name" name="city_name">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
