{% extends 'myadmin/layout.html' %}
{% block content %}

<div class="container-fluid pt-4 px-4">
<div class="col-sm-12 col-xl-6">
<div class="bg-light rounded h-100 p-4">
    <h6 class="mb-4">Edit Category</h6>
    <form method="post" action="/myadmin/cat_update/{{result.id}}">
        {% csrf_token %}
        <div class="row mb-3">
            <label for="categoryname" class="col-sm-4 col-form-label">Category Name</label>
            <div class="col-sm-12">
                <input type="text" class="form-control" id="categoryname" name="category_name" value="{{result.category_name}}">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
</div>
</div>

{% endblock %}