{% extends 'myadmin/layout.html' %}
{% load static %}
{% block content %}

<div class="container mt-5">
    <h2 style="font-family: roman; color: green;" align="center" class="card">Change Password</h2>

    {% for message in messages %}
    <p style="color: red;">{{ message }}</p>
    {% endfor %}

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card bg-light p-3">
                <form action="/myadmin/update_password/" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="pwd1">Old Password</label>
                        <input type="password" id="pwd1" name="pwd1" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="pwd2">New Password</label>
                        <input type="password" id="pwd2" name="pwd2" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="pwd3">Confirm Password</label>
                        <input type="password" id="pwd3" name="pwd3" class="form-control" required>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
