{% extends 'myadmin/layout.html' %}

{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="col-sm-12 col-xl-12">
        <div class="bg-light rounded h-100 p-4">
            <h6 class="mb-4">Edit Travels</h6>
            <div class="col-sm-12">
                <form method="post" enctype="multipart/form-data" action="/myadmin/travel_update/{{ travel.id }}">
                    {% csrf_token %}
                    <div class="row mb-3">
                        <label for="travel_name" class="col-sm-4 col-form-label">Travel Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="name" name="name" value="{{travel.name}}">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="contact_number" class="col-sm-4 col-form-label">Contact Number</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="contact" name="contact" value="{{travel.contact}}">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="travel_photo" class="col-sm-4 col-form-label">Traveler Photo</label>
                        <div>
                            <img src="/media/upload/{{travel.photo}}" height="100" width="100"></div>
                            <input class="form-control" type="file" id="f" name="f" multiple>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="vehicle_number" class="col-sm-4 col-form-label">Vehicle Number</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="vehicle_number" name="vehicle_number" value="{{travel.vehicle_number}}">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="no_of_seats" class="col-sm-4 col-form-label">Number of Seats</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="number_of_seats" name="number_of_seats" value="{{travel.number_of_seats}}">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="photo" class="col-sm-4 col-form-label">Photo</label>
                        <div>
                            <img src="/media/upload/{{ travel.image }}" height="100" width="100">
                            <input type="file" class="form-control" id="f1" name="f1" multiple>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="travel_type" class="col-sm-4 col-form-label">Travel Type</label>
                        <div class="col-sm-8">
                            <select class="form-select" id="travel_type" name="travel_type">
                            <option value="bus" {% if travel.travel_type == 'bus' %} selected {% endif %}>Bus</option>
                            <option value="car" {% if travel.travel_type == 'car' %} selected {% endif %}>Car</option>
                            <option value="van" {% if travel.travel_type == 'van' %} selected {% endif %}>Van</option>
                            <option value="train" {% if travel.travel_type == 'train' %} selected {% endif %}>Train</option>
                            <option value="plane" {% if travel.travel_type == 'plane' %} selected {% endif %}>Plane</option>
                            <option value="boat" {% if travel.travel_type == 'boat' %} selected {% endif %}>Boat</option>
                            <option value="other" {% if travel.travel_type == 'other' %} selected {% endif %}>Other</option>
                        </select>
                        </div>
                    </div>
                    <!-- Add other fields here -->
                    <div class="row mb-3">
                        <div class="col-sm-8 offset-sm-4">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
