{% extends 'myadmin/layout.html' %}
{% block content %}
<div class="container-fluid pt-4 px-4">
	 <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">View Feedback</h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Feedback id</th>
                                <th>Username</th>
                                <th>Feedback Date</th>
                                <th>View More</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in result %}
                            <tr>
                                <td>{{row.id}}</td>
                                <td>{{row.user}}</td>
                                <td>{{row.date}}</td>
                                <td><a href="{% url 'feedback' row.id %}">View</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}