{% extends 'myadmin/layout.html' %}
{% block content %}
<div class="container-fluid pt-4 px-4">
	 <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">View and Modify Package</h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Package id</th>
                                <th>Category</th>
                                <th>From Date</th>
                                <th>To Date</th>
                                <th>Hotel</th>
                                <th>Travel</th>
                                <th>View</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in result %}
                            <tr>
                                <td>{{row.id}}</td>
                                <td>{{row.category}}</td>
                                <td>{{row.from_date}}</td>
                                <td>{{row.to_date}}</td>
                                <td>{{row.hotel}}</td>
                                <td>{{row.travel}}</td>
                                <th><a href="/myadmin/packagedetail/{{row.id}}">View</a></th>
                                <td><a href="/myadmin/package_edit/{{row.id}}">Edit</a></td>
                                <td><a href="/myadmin/package_delete/{{row.id}}">Delete</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}