{% extends 'myadmin/layout.html' %}
{% block content %}
<div class="container-fluid pt-4 px-4">
	 <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">View Payment Details</h6>
                <div class="table-responsive">
                    <table class="table">
		            <tbody>
		                <tr>
		                    <td>Payment ID</td>
		                    <td>1</td>
		                </tr>
		                <tr>
		                    <td>Booking ID</td>
		                    <td>5</td>
		                </tr>
		                <tr>
		                    <td>User ID</td>
		                    <td>7</td>
		                </tr>
		                <tr>
		                    <td>Payment Date</td>
		                    <td>12/02/2024</td>
		                </tr>
		                <tr>
		                    <td>Payment Status</td>
		                    <td>Failed</td>
		                </tr>
		                <tr>
		                    <td>Total Amount</td>
		                    <td>2024</td>
		                </tr>
		                <tr>
		                    <td>Payment Mode</td>
		                    <td>IMPS</td>
		                </tr>
		            </tbody>
		        </table>
    			</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}