{% load static %}
<div class="db-l">
	<div class="db-l-1">
		<ul>
			<li><img src="{% static 'myuser/images/db-profile.jpg' %}" alt="" />
			</li>
			<li><span>80%</span> profile compl</li>
			<li><span>18</span> Notifications</li>
		</ul>
	</div>
	<div class="db-l-2">
		<ul>
			<!-- <li>
				<a href="/myuser/dashboard"><img src="{% static 'myuser/images/icon/dbl1.png' %}" alt="" /> All Bookings</a>
			</li> -->
			<li>
				<a href="/myuser/dbtravelbooking"><img src="{% static 'myuser/images/icon/dbl2.png' %}" alt="" /> Travel Bookings</a>
			</li>
			<li>
				<a href="/myuser/dbmyprofile"><img src="{% static 'myuser/images/icon/dbl6.png' %}" alt="" /> My Profile</a>
			</li>
			<li>
				<a href="/myuser/change_password"><img src="{% static 'myuser/images/icon/dbl1.png' %}" alt="" />Change Password</a>
			</li>
			<li>
				<a href="/myuser/dbrefund"><img src="{% static 'myuser/images/icon/dbl7.png' %}" alt="" /> Claim & Refund</a>
			</li>
		</ul>
	</div>
</div>