{% extends 'myuser/index.html' %}
{% load static %}
{% block content %}

<div class="container mt-5">
    <h2 style="font-family: roman; color: green; font-size: 24px;" align="center" class="card">Change Password</h2>

    {% for message in messages %}
    <p style="color: red; font-size: 18px;">{{ message }}</p>
    {% endfor %}

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card bg-light p-3">
                <form action="{% url 'update_password' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="pwd1" style="font-size: 18px;">Old Password</label>
                        <input type="password" id="pwd1" name="pwd1" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="pwd2" style="font-size: 18px;">New Password</label>
                        <input type="password" id="pwd2" name="pwd2" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="pwd3" style="font-size: 18px;">Confirm Password</label>
                        <input type="password" id="pwd3" name="pwd3" class="form-control" required>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary" style="font-size: 20px;">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
