{% extends 'myuser/index.html' %}
{% load static %}
{% block content %}
<!--DASHBOARD-->
	<section>
		<div class="db">
			<!--LEFT SECTION-->
			{% include 'myuser/common/leftcontent.html' %}
			<!--CENTER SECTION-->
			<div class="db-2">
				<div class="db-2-com db-2-main">
					<h4>My Profile</h4>
					<div class="db-2-main-com db-2-main-com-table">
						<table class="responsive-table">
							<tbody>
								<tr>
									<td>First Name</td>
									<td>:</td>
									<td>{{request.user.first_name}}</td>
								</tr>
								<tr>
									<td>Last Name</td>
									<td>:</td>
									<td>{{request.user.last_name}}</td>
								</tr>
								<tr>
									<td>User Name</td>
									<td>:</td>
									<td>{{request.user.username}}</td>
								</tr>
								<tr>
									<td>Email</td>
									<td>:</td>
									<td>{{request.user.email}}</td>
								</tr>
								<tr>
									<td>Contact Number</td>
									<td>:</td>
									<td>{{profile.contact}}</td>
								</tr>
								<tr>
									<td>Date of birth</td>
									<td>:</td>
									<td>{{profile.dob}}</td>
								</tr>
								<tr>
									<td>Gender</td>
									<td>:</td>
									<td>{{profile.gender}}</td>
								</tr>
								<!-- <tr>
									<td>Status</td>
									<td>:</td>
									<td><span class="db-done">Active</span>
									</td>
								</tr> -->
							</tbody>
						</table>
						<div class="db-mak-pay-bot">
							 <a href="/myuser/dbmyprofileedit" class="waves-effect waves-light btn-large">Edit my profile</a> </div>
					</div>
				</div>
			</div>
			<!--RIGHT SECTION-->
			{% include 'myuser/common/rightcontent.html' %}
		</div>
	</section>
{% endblock %}