{% extends 'myuser/index.html' %}
{% load static %}
{% block content %}
<!--DASHBOARD-->
    <section>
        <div class="db">
            <!--LEFT SECTION-->
            {% include 'myuser/common/leftcontent.html' %}
            <!--CENTER SECTION-->
            <div class="db-2">
                <div class="db-2-com db-2-main">
                    <h4>Travel Details</h4>
                    <div class="db-2-main-com db-2-main-com-table db-com-p">
                        <h5>Claim & Refund</h5>
                        <p>search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                        <h5>Where can I get some?</h5>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything </p>
                        <h5>Why do we use it?</h5>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed</p>
                        <h5>Where does it come from?</h5>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. </p>
                        <div class="db-mak-pay-bot">
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p> <a href="/myuser/dbpayment" class="waves-effect waves-light btn-large">Make Paymeny Now</a> </div>
                    </div>
                </div>
            </div>
            <!--RIGHT SECTION-->
            {% include 'myuser/common/rightcontent.html' %}
        </div>
    </section>
{% endblock %}