<!-- home.html -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static '/myuser/css/font-awesome.css' %}">
	<link rel="stylesheet" href="{% static '/myuser/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/myuser/css/grid.css' %}">
    <link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Raleway:400,500,600,700" rel="stylesheet">
</head>
<body>
    <header>
        <div class="navigation">
            <li><h3 style="color: yellow; ">Travel Management Website</h3></li>
            <ul class="menu">

                <li ><a href="/myuser/home/" style="color: yellow;">Home</a></li>
                    <li><a href="/myuser/logout/" style="color: yellow;">Logout</a></li>
                        <li><a href="/BookTicketApp/booking_history/" style="color: yellow;">Booking History</a> </li>
                        <li><a href="/BookTicketApp/book_ticket/" style="color: yellow;">Book Tour</a></li>
                        <li><a href="/myuser/aboutus/" style="color: yellow;">About Us</a></li>
                        <li><a href="/SignupApp/signup/" style="color: yellow;">SignUp</a></li>
                        <li><a href="/myuser/login/" style="color: yellow;">Login</a></li>
            </ul>
                     <br><h1 style="color:red " align="right" style="color: yellow;"></h1>
        </div>
    </header>
    {% block content %}
        <div class="logo1">
        <u style="color:skyblue"><h1 style="color:yellow" align="center">INFORMATION ABOUT PACKAGES</h1></u>
            <br>
            <table border="1" style="color: yellow; background-color: green; opacity: 70%;" align="center">
                <tr><th>Package Name</th><th>Amount</th></tr>
  
                    <tr><td></td><td></td></tr>
            </table>
        </div>
        <a href="/BookTicketApp/book_ticket/"><u style="color:seashell"><h1 style="color:Yellow" align="center">Book tour</h1></u></a>
    {% endblock %}
</body>
</html>